page-home {
    .Background {
        background-color: transparent;
        text-align: $Alignment;
    }
    .image{
            background-image: url("../../assets/images/background-8.jpg");
    }
}
