page-game {
    @mixin P-design($size) {
        font-family: Arial Black, Gadget, sans-serif;
        font-size: $size;
    }
    .image{
            background-image: url("../../assets/images/background-8.jpg");
    }
    p {
         @include P-design(30px);
         .bobob {
             font-size:20px;
         }
    }
    .boarded {
        table{
            td {
                height: 50px;
                width: 33%;
                background-color:white;

                img {
                    height: $imgSize;
                    widows: $imgSize;
                    margin: auto;
                }
            }

        }
    }
    .left {
        text-align: left;
    }
    
    table {
        width: 100%;
        text-align: $Alignment;
    }
    h2 {
        text-align: $Alignment;
    }
}
