page-game {

        .image{
            background-image: url("../../assets/images/background-8.jpg");
    }

    .boarded {
        table{
            td {
                height: 50px;
                width: 33%;
                background-color:white;

                img {
                    height: $imgSize;
                    widows: $imgSize;
                    margin: auto;
                }
            }

        }
    }
    .left {
        text-align: left;
    }
    
    table {
        width: 100%;
        text-align: $Alignment;
    }
    h2 {
        text-align: $Alignment;
    }
}
