<ion-header>
  <ion-navbar>
    <ion-title>
      Tic-Tac-Toe
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="image">
  <ion-grid>
    <ion-row style="height: 90px; text-align: center" >
      <ion-col col-33><p style="vertical-align: middle">{{Game.player1.name | NameChangePipe}}</p></ion-col>
      <ion-col col-33><img height="80px;" style="vertical-align: middle" src="../../assets/images/vs-icon.png"></ion-col>
      <ion-col col-33><p>{{Game.player2.name | NameChangePipe}}</p></ion-col>
    </ion-row>
    <ion-row style="height:40px; text-align: center;">
      <ion-col col-33 ><p *ngIf="Game.player1">{{Game.player1.score}}</p></ion-col>
      <ion-col col-33><p class="bobob"> Points </p></ion-col>
      <ion-col col-33 col-offset-33><p *ngIf="Game.player1">{{Game.player2.score}}</p></ion-col>
    </ion-row>

    <div class="boarded" style="margin-top: 100px;">
          <table class="circle" boarded border="1">
            <tr>
              <td block (click)="CellClick(0,2)"> <div *ngIf="Game.board.tiles[0][2]"><img src="{{ Game.board.tiles[0][2] | SymbolToPlayer }}"/></div></td>
              <td block (click)="CellClick(0,1)"> <div *ngIf="Game.board.tiles[0][1]"><img src="{{ Game.board.tiles[0][1] | SymbolToPlayer }}"/></div></td>
              <td block (click)="CellClick(0,0)"> <div *ngIf="Game.board.tiles[0][0]"><img src="{{ Game.board.tiles[0][0] | SymbolToPlayer }}"/></div></td>
            </tr>
            <tr>
              <td block (click)="CellClick(1,2)"> <div *ngIf="Game.board.tiles[1][2]"><img src="{{ Game.board.tiles[1][2] | SymbolToPlayer }}"/></div></td>
              <td block (click)="CellClick(1,1)"> <div *ngIf="Game.board.tiles[1][1]"><img src="{{ Game.board.tiles[1][1] | SymbolToPlayer }}"/></div></td>
              <td block (click)="CellClick(1,0)"> <div *ngIf="Game.board.tiles[1][0]"><img src="{{ Game.board.tiles[1][0] | SymbolToPlayer }}"/></div></td>
            </tr>
            <tr>
              <td block (click)="CellClick(2,2)"> <div *ngIf="Game.board.tiles[2][2]"><img src="{{ Game.board.tiles[2][2] | SymbolToPlayer }}"/></div></td>
              <td block (click)="CellClick(2,1)"> <div *ngIf="Game.board.tiles[2][1]"><img src="{{ Game.board.tiles[2][1] | SymbolToPlayer }}"/></div></td>
              <td block (click)="CellClick(2,0)"> <div *ngIf="Game.board.tiles[2][0]"><img src="{{ Game.board.tiles[2][0] | SymbolToPlayer }}"/></div></td>
            </tr>
          </table>
          <div style="position:absolute; height:auto; width:auto; top:220px;" *ngIf="!Game.winningcondition"><img height="170px" src="../../assets/images/{{ Game.winningbackground }}.png"></div>
      </div>

    <div>    
        <button ion-button color="primary" block (click)="NewGame()">New game</button>
    </div>

    <div>   
        <button ion-button color="primary" block (click)="ResetGame()">Reset game</button>
    </div>
  </ion-grid>
</ion-content>
